<%- include("partials/header") -%>


<!-- <nav class="navbar navbar-expand-sm bg-body-light" style="background-color: #A683E3;"> -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">ToDoList</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Back</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
      </ul>
    </div>


    <form class="" action="/logout" method="post">
      <button class="btn" type="submit">Logout</button>
    </form>
  </div>
</nav>

<div class="box" id="heading">
  <h1><%= listTitle  %> </h1>
</div>

<div class="box">


  <% newItems.forEach((item) => { %>
    <form class="" action="/user/<%=listTitle%>/delete" method="post" >
      <div class="item">
        <input type="hidden" name="page" value=<%= listTitle %> >
        <input type="checkbox" name="myCheckbox" onChange="submit()" value= <%= item._id %> >
        <p><%= item.todoEntry %></p>
      </div>
    </form>
  <% }); %>



  <form class="item" action="/user/<%=listTitle%>/add" method="post">
    <input type="text" name="getToDo" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>
</div>

<%- include("partials/footer") -%>
